@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    /* Primary */
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);

    /* Neutral */
    --almost-black: hsl(0, 0%, 10%);
    --very-dark-gray: hsl(0, 0%, 15%);
    --dark-gray: hsl(0, 0%, 30%);
    --gray: hsl(0, 1%, 36%);
    --gray2: hsl(0, 0%, 50%);
    --gray3: hsl(0, 0%, 70%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --r730: calc((730 / var(--base) * 1rem));
    --r600: calc((600 / var(--base) * 1rem));
    --r30: calc((30 / var(--base) * 1rem));
    --r20: calc((20 / var(--base) * 1rem));
    --r19: calc((19 / var(--base) * 1rem));
    --r15: calc((15 / var(--base) * 1rem));
    --r14: calc((14 / var(--base) * 1rem));
    --r12: calc((12 / var(--base) * 1rem));
    --r10: calc((10 / var(--base) * 1rem));
    --base: 16;
}

html:focus-within {
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font: inherit;
}

body, main, all-comments-container {
    display: grid;
    place-contents: center;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--almost-black);
    color: var(--gray3);
    min-height: 100svh;
    padding: 5.5rem 1rem;
}

main {
    gap: 1rem;
    width: 100%;
}

.toggle-container {
    background-color: var(--almost-black);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
}

.all-comments-container {
    gap: 1rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    transition: all 3s ease-in-out;
}

button:is(:hover):not(.send-button, #no-cancel-button, #yes-delete-button) {
    filter: brightness(200%);
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.score {
    color: var(--light-gray);
    font-weight: 500;
    line-height: var(--r19);
}

.username {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition; all 0.3s ease;
}

.username:hover {
    color: var(--white);
}

.dot-symbol,
.time {
    color: var(--gray2);
    font-size:var(--r14);
}

#current-user-indicator {
    background-color: var(--moderate-blue);
    border-radius: 0.25rem;
    color: var(--light-gray);
    font-weight: 500;
    font-size: var(--r12);
    line-height: 1rem;
    padding: .0625rem .375rem .125rem .375rem;
}

#delete-comment-heading {
    font-weight: 500;
    font-size: var(--r20);
}

#delete-comment-msg {
    colo: var(--gray3);
}

.replies-to-comment-container {
    display: grid;
    gap: 1rem;
    position: relative;
    padding-left: 1rem 0 0 1.25rem;
    margin-left: 0.25rem;
}

.replies-to-comment-container::before {
    content: '';
    position: absolute;
    top:0.5rem;
    border-left: .125rem solid var(--very-dark-gray); 
    height: 95%;
}

.comments-container {
    display: grid;
    gap: 1rem;
}

.comments-sub-container,
.replies-to-comment-sub-container {
    background-color: var(--very-dark-gray);
    border-radius: var(--r12);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "comment-header comment-header comment-header"
        "comment-content comment-content comment-content"
        "scorebox . reply-btn"
    padding: 1rem;
    position: relative;    
}

.vote-button {
    filter: grayscale(100%) brightness(70%);
}

.score-box {
    grid-area: scorebox;
    background-color: var(--dark-gray);
    border-radius: var(--r10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 6.25rem;
    padding: var(--r10) var(--r12) var(--r10) var(--r15);
}

.downvote {
    padding-bottom: .375rem;
}

.moderate-blue {
    filter: invert(41%) sepia(30%) saturate(1298%) hue-rotate(201deg) brightness(80%) contrast(89%) !important;
}

.comment-header {
    grid-area: comment-header;
    display: flex;
    align-items: center;
    gap: var(--r10);
}

.user-avatar-link {
    height: 2rem;
}

.user-avatar {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 2rem;
    margin-right: 0.25rem;
    transition: all 0.2s ease-in;
}

.user-avatar:hover {
    border: none;
    background-image: linear-gradient(344deg, #AF40FF #5842F3 50% #00DDEB);
    padding: .125rem;
    scale: 1.2;
}

.reply-icon-button,
.delete-button,
.exit-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--r14);
    font-weight: 500;
}

.reply-icon-button,
#delete-or-edit-button-grp {
    grid-area: reply-btn;
}

#delete-or-edit-button-grp {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-reply,
.icon-delete {
    filter: grayscale(100%) brightness(170%);
    scale: 0.95;
}

.icon-delete {
    filter: grayscale(100%) brightness(130%);
    scale: 0.95;
}

.comment-content {
    grid-area: comment-content;
}

#editable-content {
    grid-area: comment-content !important;
}

.update-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#update-button {
    align-self: flex-end;
}

.add-container {
    position: relative;
}

.add-form {
    background-color: var(--very-dark-gray);
    border-radius: var(--r12);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    column-gap: 0;
    row-gap: 1rem;
    grid-template-areas:
        "input-box input-box input-box"
        "iser-avatar . send-button";
    padding: 1.5rem;    
}

.user-avatar.current {
    grid-area: user-avatar;
    align-self: center;
    height: 2rem;
}
















